<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="KanbanTFSEntities" connectionString="metadata=res://*/KanbanMdl.csdl|res://*/KanbanMdl.ssdl|res://*/KanbanMdl.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQL2008;initial catalog=KanbanTFS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>