{% extends 'layout.html' %}

{% block title %}Home Page - Kanban TFS{% endblock %}

{% block head %}
{% parent %}
<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}

<div>
    <div class="box-header bg-orange shadow">Project Board</div>
    <div style="height:20px"></div>
    <div class="box-header2">
        Project Board is a simple solution for managing tasks in a project. It follows Kanban model
        and shows a task board that visually describes project status in a few seconds.
    </div>
    <div style="height:40px"></div>
    <div class="box-toolbar-main">
        <div class="box-tile bg-green shadow">
            <div class="button-text">Learn More</div>
        </div>
        <div class="box-tile bg-orange shadow">
            <div class="button-text">Sign Up</div>
        </div>
        <div class="box-tile bg-blue shadow">
            <div class="button-text">Log in</div>
        </div>
    </div>
</div>
{% endblock %}



