{% extends 'layout.html' %}

{% block title %}Home Page - Kanban TFS{% endblock %}

{% block head %}


{% parent %}
<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<form action="/login" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
        <br/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
</form>
{% endblock %}




